<section class="container column">
  <h2>Create a Survey:</h2>
  <form action="/create" id="create-form" method="POST">
    <div class="prompt-group" id="prompt-group">
      <div class="prompt">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
    </div>

    <button class="button" id="add-prompt" type="button">+ Add Prompt</button>
    <button class="button" type="submit">Create Form</button>
  </form>
</section>
