<section class="container column start">
  <h3>Create a new survey</h3>
  <a href="/create" class="button">Create</a>
  <h3>Enter existing ID</h3>
  <input type="text" name="survey_id" id="survey-id" placeholder="Survey ID">
  <div>
    <button class="button" id="respond-button">Respond</button>
    <button class="button" id="view-responses-button">View Responses</button>
  </div>
</section>